header {
	width: 100%;
	position: relative;

	.logo-text {
		position: absolute;
    z-index: 11;
		left: 30rem;
		top: 2rem;
    text-transform: uppercase;
    color:$color-white;
    letter-spacing: -0.1rem;
		font: {
			size: 5.6rem;
			family: 'Lato', sans-serif;
			weight: 100;
		}
		animation: {
			name: moveInLeft;
			duration: 1s;
			iteration-count: 5; //반복횟수
			delay: 2s; //지연시간
			fill-mode: backwards; //애니메이션 끝난후 처음스타일로 돌아감
		}
	}

  .header-text{
    width: 34%;
    position:absolute;
    left:33%;
    bottom:45%;
    color:$color-white;
    letter-spacing: -0.1rem;
    font-weight:700;
    text-align: center;

    &-main {
      position: absolute;
      top: 40rem;
      left: 7rem;
      z-index: 99;
      font: {
        size: 6.2rem;
      }
      line-height: 7.2rem;
      animation: {
        name: moveInRight;
        duration: 1s;
        delay: 1s;
        fill-mode: backwards;
      }
    }
    &-sub {
      font: {
        size: 1.6rem;
      }
      margin-top:3rem;
      animation: {
        name: moveInLeft;
        duration: 1s;
        delay: 1.5s;
        fill-mode: backwards;
      }
    }
  }
} //header

// section1
.section1{
  width: 100%;
  min-height: 400px;
}

// video
.section1 .video{
  width: 100%;
  min-height: 600px;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#main_video{
  width: 100%;
  height: 100%;
  object-fit: cover !important;
  max-height: 100vh;
}